.btn {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  padding: 8px 16px;
  cursor: pointer;
  color: #212121;
  background-color: #17d9b1;
  border-radius: 8px;
  border: none;
  width: fit-content;
  margin: 0 auto;
}

.btn:hover {
  opacity: 0.8;
}
